/* Feedback Section */
.feedback-section .section-title {
  text-align: center;
  margin-bottom: 32px;
}

.feedback-slider-wrapper {
  position: relative;
  overflow: hidden;
}

.feedbacks-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 20px;
}

.feedbacks-list::-webkit-scrollbar {
  display: none;
}

.feedbacks-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedbacks-item .text {
  margin-bottom: 59px;
}

.feedback-person {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 16px;
}

.feedback-pagination-buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 32px;
}

/* Tablet (768px) */
@media screen and (min-width: 768px) {
  .feedbacks-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 24px) / 2);
    gap: 24px;
  }
}

/* Desktop (1440px) */
@media screen and (min-width: 1440px) {
  .feedbacks-list {
    grid-auto-columns: calc((100% - 48px) / 3);
  }
}
