/* Footer Section */
.footer-section {
  background-color: #eeee60;
  padding: 64px 0 32px;
  text-align: center;
}

.footer-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-link {
  margin-bottom: 48px;
}

.footer-logo {
  width: 294px;
  height: auto;
}

.footer-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
}

.footer-navigation-list a {
  color: var(--primary-text);
  font-family: var(--font-primary);
  font-size: 16px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(3, 12, 1, 0.2);
  border: none;
  margin-bottom: 24px;
}

.footer-copyright {
  font-size: 14px;
  color: var(--primary-text);
  margin-bottom: 0;
}

/* Tablet (768px) */
@media screen and (min-width: 768px) {
  .footer-navigation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;
  }

  .footer-socials {
    gap: 12px;
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }
}

/* Desktop (1440px) */
@media screen and (min-width: 1440px) {
  .footer-section {
    max-width: 1440px;
    margin: 0 auto;
  }

  .footer-section .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .footer-logo-link {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0;
  }

  .footer-navigation-list {
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    margin-bottom: 0;
  }

  .footer-socials {
    margin-left: 200px;
    grid-column: 3;
    grid-row: 1;
    margin-bottom: 0;
  }

  .footer-divider {
    grid-column: 1 / span 3;
    grid-row: 2;
    margin-top: 80px;
  }

  .footer-copyright {
    grid-column: 1 / span 3;
    grid-row: 3;
    padding-bottom: 40px;
  }
}
